body {
  background-color: #999999;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 1px solid black;
  padding: 24px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
  grid-template-rows: 600px; /* This is for the dummy columns, replace or delete */
}

/* style for dummy columns, delete and replace with your own CSS */
.dummycolumn {
  background-color: rgba(255,0,0,.25);
  grid-column: span 1;
}

/* give the header its column and style it */
header {
  background-color: blue;
   border-bottom: 4px solid black;
  grid-column: span 12;
  height: 100px;
  margin: -24px;
}

.titlehead {
  padding-top: 10px;
  font-size: 36px;
  font-weight: bold;
  color: white;
  font-family: arial;
}

/* give the nav bar its column and style it */
nav {
  background-color: orange;
  border-right: 4px solid black;
  margin-left: -24px;
  margin-top: -520px;
  margin-bottom: 24px;
  grid-column: span 2;
  padding-top: 50px;
}

nav li {
  margin-left: -10px;
  padding-bottom: 48px;
}

nav li a {
  text-decoration: none;
  color: white;
  font-family: arial;
  font-size: 48px;
}

ul{
  list-style-type: none;
}

/* give the main content its column and style it */

main {
  grid-column: span 10;
  margin-left: -24px;
  margin-top: -520px;
  padding-bottom: 50px;
}

.floatimg {
  float: right;
}

.int_text {
  padding-left: 20px;
  margin-right: 700px;
  padding-right: 20px;
  text-align: justify;
  font-size: 20px;
}

.clearfloat {
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  clear: both;
  font-size: 20px;
}

/* give the footer its column and style it */
footer {
  background-color: blue;
  border-top: 4px solid black;
  grid-column: span 12;
  margin: -24px;
}